* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
    display: flex;
}

p {
    font-size: 16px;
    color: #fff;
    line-height: 24px;
}

h2 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
}

h3 {
    color: #fff;
}

h4 {
    font-size: 22px;
    font-family: Roboto;
    color: #1E1E1E;
    line-height: 32px;
}

header {
    width: 100%;
    height: 80px;
    background-color: #161616;
}

header nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav div {
    display: flex;
}

.menu-main,
.menu-member {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.menu-main a,
.menu-member a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.login-button {
    background-color: rgb(21, 108, 223);
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 10px;
}

.login-button:hover {
    background-color: #fff;
    color: rgb(21, 108, 223);
}

.index-intro {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: rgba(2, 38, 85, 0.863);
}

.video {
    width: 350px;
    height: 200px;
    background: black;
    border-radius: 10px;
}

.index-intro .wrapper {
    display: flex;
}

.index-intro-c1 {
    margin-right: 75px;
}

.index-intro-c1 p {
    width: 350px;
}

.index-intro-c2 a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: rgb(21, 108, 223);
    padding: 10px 20px;
    border-radius: 10px;
}

.index-login {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

.index-login-signup {
    width: 400px;
    border-left: 5px solid rgb(21, 108, 223);
    padding-left: 10px;
}

.index-login-signup p {
    color: #161616;
}

.index-login-signup form {
    display: flex;
    flex-direction: column;
}

.index-login-signup form input {
    width: 80%;
    margin-bottom: 5px;
    padding: 10px 0px;
    border-radius: 10px;
    border: none;
    background-color: #c4c4c4;   
}

.index-login-login form {
    display: flex;
    flex-direction: column;
}

.index-login-login form input {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px 0px;
    border-radius: 10px;
    border: none;
    background-color: #fff;   
}

.index-login-login {
    width: 400px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 10px;
}

.index-login-signup  button,
.index-login-login button {
    width: 30%;
    color: #fff;
    background-color: rgb(21, 108, 223);
    border: none;
    border-radius: 8px;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.index-login-signup p,
.index-login-login p {
    margin-bottom: 5px;
}

.index-login-login button {
    width: 100%;
}

.index-login-login h4 {
    color: #fff;
}

.about, 
.info {
    margin: 0 auto;
    margin-top: 20px;
    width: 400px;
    background-color: #161616;
    padding: 40px;
    border-radius: 10px;
}